html {
    box-sizing: border-box;
}

*, 
*:before, 
*:after {
  box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h3, .footer-text {
    font-family: Cabin, Arial, sans-serif;
    color: #0d7377;
}

h1:hover, h3:hover, .footer-text:hover {
    color: #14ffec;
    -webkit-transition: color 1s;
}




/* Nav Section */

.nav-bar {
    display: flex;
    width: 100%;
    justify-content: center;
    background: #212121;
    position: fixed;
    z-index: 2;
}

.nav-content {
    display: flex;
    justify-items: center;
    width: 50%;
    text-align: center;
    font-family: Cabin, Arial, sans-serif;
}

.nav-content a {
    border-bottom: 2px solid #0d7377;
}

.nav-content a:hover {
    background: #323232;
    color: #14ffec;
    -webkit-transition: color 1s;
}

.nav-item {
    text-decoration: none;
    color: #0d7377;
    flex: 1 1 25%;
    font-size: 2rem;
}




/* Page Title and Subtitle + Logo */

.title-container {
    display: flex;
}

.title-item {
    flex: 1 1 50%;
    border-bottom: 5px solid #0d7377;
}

.top-title {
    background: #323232;
    margin: 0;
}

.page-title {
    padding-top: 15rem;
    padding-left: 2rem;
    font-size: 5rem;
}

.page-subtitle {
    padding: 2rem 0 20rem 10rem;
    font-family: Lobster, Arial, sans-serif;
    color: #0d7377;
    font-size: 3rem;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #212121;
    border-left: 5px solid #0d7377;
}

.logo-image {
    height: 30vh;
}





/* About Section */

#about {
    background: #212121;
    margin: 0;
    padding: 10rem 2rem;
    text-align: center;
}

.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    margin: 0;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-decoration: underline;
}

.about-text {
    font-size: 1.5rem;
    color: #0d7377;
    margin-bottom: 10rem;
    width: 50%;
}

.resume-button {
    background: #0d7377;
    border: 2px solid #323232;
    border-radius: 25%;
    font-size: 1rem;
    padding: 1rem 1.5rem;
}


/* Project Pictures */

.image-container {
    display: flex;
    width: 100%;
}

.project-picture {
    flex: 1 1 50%;
    width: 40%;
    height: 45vh;
    margin: 1rem;
}






/* Projects Section */

#projects {
    background: #323232;
    padding: 2rem 0 5rem 0;
    text-align: center;
}

.projects-title {
    font-size: 3rem;
    text-decoration: underline;
}

.projects-container {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;

}

.middle-pro-container {
    display: flex;
    width: 60%;
    justify-items: center;
}

.projects-item {
    flex: 1 1 25%;
    margin: 2rem 0;
}

.project-button {
    width: 100%;
    color: #0d7377;
    background: #212121;
    border: 2px solid #0d7377;
    font-family: Cabin, Arial, sans-serif;
    font-size: 1rem;
    text-decoration: none;
    height: 4rem;
}

.project-button:hover, .project-button:focus {
    color: #14ffec;
    background: #323232;
    -webkit-transition: color 1s;
    outline: none;
}

.link-items {
    display: none;
    position: absolute;
    z-index: 1;
    color: #0d7377;
    font-family: Cabin, Arial, sans-serif;
    border-bottom: 3px solid #0d7377;
    width: 15%;
}

.link-items a {
    text-decoration: none;
    color: #0d7377;
}

.link-items p {
    margin: .5rem;
}

.link-items a:hover {
    color: #14ffec;
    -webkit-transition: color 1s;
}






/* Contact Section */

#contact {
    background: #212121;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 5rem 0 10rem;
}

.contact-title {
    font-size: 3rem;
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.contact-form-container {
    padding: 2rem 0;
    width: 30%;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-container label {
    text-align: left;
}

.contact-box {
    width: 80%;
    margin-bottom: .25rem;
    height: 2rem;
    background: #212121;
    border: 2px solid #0d7377;
    color: #0d7377;
}

::placeholder {
    color: #0d7377;
}

.message-box {
    height: 5rem;
}

.submit-button {
    margin-top: 3rem;
    width: 40%;
}

/* Footer Section */
#footer {
    background: #323232;
}

.footer-text {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
}






/** class for dropdowns **/

.show {
    display: block;
}