html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*, 
*:before, 
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h3, .footer-text {
    font-family: Cabin, Arial, sans-serif;
    color: #0d7377;
}

h1:hover, h3:hover, .footer-text:hover {
    color: #14ffec;
    -webkit-transition: color 1s;
}


#header {
    width: 100%;
}

/* Nav Section */

.nav-bar {
    background: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.bars-button {
    display: none;
}

.slide-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
}


.nav-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: Cabin, Arial, sans-serif;
    justify-items: center;
    text-align: center;
    width: 100%;
}

.nav-content a {
    border-bottom: 2px solid #0d7377;
}

.nav-content a:hover {
    background: #323232;
    color: #14ffec;
    -webkit-transition: color 1s;
}

.nav-item {
    color: #0d7377;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    font-size: 2rem;
    text-decoration: none;
}




/* Page Title and Subtitle + Logo */

.title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.title-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    border-bottom: 5px solid #0d7377;
}

.top-title {
    background: #323232;
    margin: 0;
}

.page-title {
    padding-top: 15rem;
    padding-left: 2rem;
    font-size: 5rem;
}

.page-subtitle {
    color: #0d7377;
    font-family: Lobster, Arial, sans-serif;
    font-size: 3rem;
    padding: 2rem 0 20rem 10rem;
}

.logo-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #212121;
    border-left: 5px solid #0d7377;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.logo-image {
    height: 30vh;
}





/* About Section */

#about {
    background: #212121;
    margin: 0;
    padding: 10rem 2rem;
    text-align: center;
    width: 100%;
}

.about-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.about-title {
    font-size: 3rem;
    margin: 0;
    padding-bottom: 2rem;
    text-decoration: underline;
}

.about-text {
    color: #0d7377;
    font-family: Cabin, Arial, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10rem;
    width: 50%;
}

.resume-button {
    background: #0d7377;
    border: 2px solid #323232;
    border-radius: 25%;
    font-size: 1rem;
    padding: 1rem 1.5rem;
}


/* Project Pictures */

.image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.project-picture {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    height: 45vh;
    margin: 1rem;
    width: 40%;
}






/* Projects Section */

#projects {
    background: #323232;
    padding: 2rem 0 5rem 0;
    text-align: center;
    width: 100%;
}

.projects-title {
    font-size: 3rem;
    text-decoration: underline;
}

.projects-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    width: 100%;

}

.middle-pro-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    width: 60%;
}

.projects-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 25%;
            flex: 1 1 25%;
    margin: 2rem 0;
}

.project-button {
    background: #212121;
    border: 2px solid #0d7377;
    color: #0d7377;
    font-family: Cabin, Arial, sans-serif;
    font-size: 1rem;
    height: 4rem;
    text-decoration: none;
    width: 100%;
}

.project-button:hover, .project-button:focus {
    color: #14ffec;
    background: #323232;
    -webkit-transition: color 1s;
    outline: none;
}

.link-items {
    border-bottom: 3px solid #0d7377;
    color: #0d7377;
    display: block;
    font-family: Cabin, Arial, sans-serif;
    position: absolute;
    opacity: 0;
    -webkit-transition: visibility 0s, opacity 0.5s linear;
    -o-transition: visibility 0s, opacity 0.5s linear;
    transition: visibility 0s, opacity 0.5s linear;
    visibility: hidden;
    width: 15%;
    z-index: 1;
}

.link-items a {
    color: #0d7377;
    text-decoration: none;
}

.link-items p {
    margin: .5rem;
}

.link-items a:hover {
    color: #14ffec;
    -webkit-transition: color 1s;
}






/* Contact Section */

#contact {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #212121;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-items: center;
    padding: 5rem 0 10rem;
    width: 100%;
}

.contact-title {
    font-size: 3rem;
    margin: 0;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.contact-form-container {
    padding: 2rem 0;
    width: 30%;
}

.contacts-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.contacts-container label {
    text-align: left;
}

.contact-box {
    color: #0d7377;
    background: #212121;
    border: 2px solid #0d7377;
    height: 2rem;
    margin-bottom: .25rem;
    width: 80%;
}

::-webkit-input-placeholder {
    color: #0d7377;
}

:-ms-input-placeholder {
    color: #0d7377;
}

::-ms-input-placeholder {
    color: #0d7377;
}

::placeholder {
    color: #0d7377;
}

.message-box {
    height: 5rem;
}

.submit-button {
    margin-top: 3rem;
    width: 40%;
}

/* Footer Section */
#footer {
    background: #323232;
}

.footer-text {
    margin: 0;
    padding: 1rem 0;
    text-align: center;
}



/** class for dropdowns **/

.show {
    visibility: visible;
    opacity: 1;
}

.dropdown {
    display: block;
}



/* Media Queries */

@media all and (max-width: 900px) {
    .title-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .title-item {
        width: 100%;
    }
    
    .about-text {
        width: 90%;
    }

    .project-picture {
        width: 30%;
        height: 30vh;
    }

    .contact-form-container {
        width: 70%;
    }

    .page-title {
        padding-top: 10rem;
        padding-bottom: 2rem;
        font-size: 5rem;
    }

    .page-subtitle {
        padding: 2rem 0 10rem 5rem;
    }

    .middle-pro-container {
        width: 50%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    .projects-item {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 50%;
                flex: 1 1 50%;
        margin-bottom: 5rem;
    }

    .project-picture {
        height: 50vh;
    }

    .link-items{
        width: 25%;
    }

    .nav-bar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
    }


    .slide-container {
        display: none;
        width: 100%;
    }

    .nav-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        position: relative;
    }

    .bars-button {
        border-bottom: 2px solid #0d7377;
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 0.5rem;
    }

    .fas {
        color: #0d7377
    }

}

@media all and (max-width: 700px) {
    .project-picture {
        height: 30vh;
    }

    .link-items {
        width: 50%;
    }
}